<div>
  <button
    style="margin-left: auto; margin-right: auto"
    type="button"
    class="btn btn-primary"
    (click)="paySalary()"
  >
    Pay
  </button>
</div>

<div id="Status" style="display: none" class="row">
  <div class="col"></div>
  <div class="col">
    <p>{{ Status }}</p>
  </div>
  <div class="col"></div>
</div>

<div id="Pending" style="display: none" class="row">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Waiting...</span>
    </div>
  </div>
</div>
