<h2>Accountant panel</h2>
<div class="row">
  <div class="col"></div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-6">
    <nav aria-label="...">
      <ul class="pagination pagination justify-content-center">
        <li class="page-item" aria-current="page">
          <a class="page-link" routerLink="set-salary">Set Salary</a>
        </li>
        <li class="page-item">
          <a class="page-link" routerLink="pay-salary">Pay Salary</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col"></div>
</div>

<router-outlet></router-outlet>
