<div class="container">
  <div class="col">
    <div class="row">
      <nav class="navbar navbar-lg bg-light">
        <div class="container-fluid">
          <div class="col-8">
            <a class="navbar-brand"> State 2.0 </a>
          </div>
          <div class="col">
            <app-connect-wallet></app-connect-wallet>
          </div>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-8">
        <nav aria-label="...">
          <ul class="pagination pagination justify-content-center">
            <li class="page-item" id="president-nav" style="display: none">
              <a class="page-link" routerLink="president">President</a>
            </li>
            <li class="page-item" id="accountant-nav" style="display: none">
              <a class="page-link" routerLink="accountant">Accountant</a>
            </li>
            <li class="page-item" id="doctor-nav" style="display: none">
              <a class="page-link" routerLink="doctor">Doctor</a>
            </li>
            <li class="page-item" id="police-nav" style="display: none">
              <a class="page-link" routerLink="police">Police</a>
            </li>
            <li class="page-item" id="citizien-nav" style="display: none">
              <a class="page-link" routerLink="citizien">Citizien</a>
            </li>
            <li class="page-item" id="non-citizien-nav" style="display: none">
              <a class="page-link" routerLink="non-citizien">Non-Citizien</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
<div class="col">
  <div>
    <div
      style="
        position: absolute;
        border: 0.5px outset;
        border-radius: 15px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        width: 50%;
        left: 0;
        right: 0;
        text-align: center;
      "
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
