<h2>President control panel</h2>
<div class="row">
  <div class="col"></div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-6">
    <nav aria-label="...">
      <ul class="pagination pagination justify-content-center">
        <li class="page-item" aria-current="page">
          <a class="page-link" routerLink="assign-police">Assign Police</a>
        </li>
        <li class="page-item" aria-current="page">
          <a class="page-link" routerLink="assign-accountant"
            >Assign Accountant</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" routerLink="assign-doctor">Assign Doctor</a>
        </li>
        <li class="page-item">
          <a class="page-link" routerLink="transfer-president">New President</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col"></div>
</div>

<router-outlet></router-outlet>
