<h3>Set Salaries</h3>
<div class="row">
  <div class="col"></div>
  <div class="col-3">
    <div class="form-floating">
      <input
        #Amount
        class="form-control"
        id="floatingInputGrid"
        placeholder="0"
        value=""
      />
      <label for="floatingInputGrid">ETH Amount</label>
    </div>
  </div>
  <div class="col-4">
    <select #Job id="Job" class="form-select">
      <option selected>Select</option>
      <option value="President">President</option>
      <option value="Doctor">Doctor</option>
      <option value="Police">Police</option>
      <option value="Accountant">Accountant</option>
    </select>
  </div>
  <div class="col-2">
    <div>
      <button
        style="margin-left: auto; margin-right: auto"
        type="button"
        class="btn btn-primary"
        (click)="setSalary(Amount.value, Job.value)"
      >
        Set
      </button>
    </div>
  </div>
  <div class="col"></div>
</div>

<div id="Status" style="display: none" class="row">
  <div class="col"></div>
  <div class="col">
    <p>{{ Status }}</p>
  </div>
  <div class="col"></div>
</div>

<div id="Pending" style="display: none" class="row">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Waiting...</span>
    </div>
  </div>
</div>
